.profile-container {
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);  /* Tăng độ mờ bóng */
    padding: 20px;

    h1 {
        text-align: center;
        color: #333;
        font-size: 28px;  /* Tăng kích thước chữ */
        margin-bottom: 20px;  /* Thêm khoảng cách dưới h1 */
    }
}

.profile-card {
    margin: 20px 0;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;  /* Thêm khoảng cách dưới phần header */
    border-bottom: 2px solid #f0f0f0;
}

.profile-left {
    display: flex;
    align-items: center;
}

.profile-picture {
    font-size: 30px;
    font-weight: bold;
    color: white;    
    background: linear-gradient(to bottom right, #DF0000, #fc6060);  /* Thay đổi màu sắc gradient */
    width: 70px;  /* Điều chỉnh kích thước ảnh đại diện */
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Thêm bóng đổ cho ảnh đại diện */
}

.profile-icon {
    font-size: 35px;
    color: white;
}

.profile-details {
    margin-left: 20px;
}

.profile-details h2 {
    margin: 0;
    font-size: 26px;  /* Tăng kích thước chữ */
    color: #333;
    font-weight: 600;  /* Thêm trọng lượng cho font */
}

.edit-btn {
    background-color: white;
    border: 1px solid #DF0000;  /* Thay đổi màu biên */
    color: #DF0000;  /* Thay đổi màu chữ */
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;  /* Thêm hiệu ứng khi hover */
}

.edit-btn:hover {
    background-color: #FF5722;
    color: white;
}

.profile-info {
    margin-top: 20px;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
    span {
        padding: 8px;
    }
    input {
        width: 100%;
        max-width: 500px;
        padding: 8px;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        // margin-top: 10px;
    }
}

.profile-row:last-child {
    border-bottom: none;  /* Loại bỏ đường viền dưới cho dòng cuối */
}

.profile-row label {
    font-weight: bold;
    color: #555;
}

.profile-row div,
.profile-row span {
    color: #333;
    font-size: 16px;  /* Điều chỉnh kích thước font */
}

.verify-link {
    color: #DF0000;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
}

.add-link {
    color: #DF0000;
    text-decoration: none;
}

.add-link:hover,
.verify-link:hover {
    text-decoration: underline;
    font-weight: bold;  /* Thêm trọng lượng chữ khi hover */
}

.save-btn {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    button {
        width: 50%;
        height: 40px;
        background-color:  #DF0000;
        color: white;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;  /* Thêm hiệu ứng khi hover */
    }
}