.thank {
    width: 100%;
    padding: 100px 300px;
    // color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DF0000;
    font-size: 30px;
    font-weight: 600;
}