.airline-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border: 1px solid #ddd;
        width: 25%;
    }

    thead {
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    tbody tr:hover {
        background-color: #fff;
    }

    .action_column {
        width: 25% !important;
    }
}

.edit_button,
.delete_button {
    max-width: 80px !important;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    text-transform: capitalize;
}

.edit_button {
    background-color: #ffc107;
}

.edit_button:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete_button {
    background-color: #dc3545;
}

.delete_button:hover {
    background-color: #c82333;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}