.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: #831dff;
    font-family: 'Arial', sans-serif;
}

.admin-login-container {
    background-image: url('/src/assets/back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.admin-login-form {
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.admin-login-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.admin-login-error {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 20px;
}

.admin-login-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.admin-login-label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

.admin-login-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.admin-login-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.admin-login-button {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.admin-login-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 91, 187, 0.2);
}