.myorder {
    color: black;
    display: flex;
    margin-top: 70px;
    width: 100%;
}

.sidebar {
    background: #DF0000;
    color: #F7F7F7;
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    padding: 20px;
    height: calc(100vh - 70px);

    div {
        margin-top: 20px;
        align-items: center;
        justify-content: left;
        padding: 20px;
        display: flex;
        width: 100%;

        &:hover {
            background: #ffe6e6;
            color: #DF0000;
            border-radius: 5px;
            border-right: 1px solid #DF0000;
        }
    }
}

.content {
    display: flex;
    background: #F7F7F7;
    width: 100%;
    padding: 0 50px;
}

.signout {
    cursor: pointer;
}