.myorder {
    color: black;
    display: flex;
    margin-top: 70px;
}

.sidebar {
    width: 30%;
    background: #DF0000;
    // height: 100vh;
    padding-left: 300px;
    color: #F7F7F7;
    font-size: 20px;
    font-weight: 500;

    div {
        margin-top: 20px;
        align-items: center;
        // justify-content: left;
        padding: 20px;
        display: flex;
        height: 50px;
        width: 100%;

        &:hover {
            background: #ffe6e6;
            color: #DF0000;
            border-radius: 5px;
            border-right: 1px solid #DF0000;
        }
    }
}

.content {
    display: flex;
    width: 70%;
    background: #F7F7F7;
    height: 100vh;
    padding-right: 300px;
    padding-left: 20px;
}

.signout {
    cursor: pointer;
}